.header {
  background-color: #202020;
}

.header__burger {
  display: none;
}

.header__logo {
  margin: 18px 0 18px 0;
}

.header__container {
  max-width: 1200px;
  padding: 0;
  display: flex;
  flex: 1 auto;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__authorization {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.header__authorization_active {
  display: flex;
  background-color: #202020;
  padding: 0 70px 0 70px;
}

.header__profile-link {
  color: #ffff;
  text-decoration: none;
  transition: opacity .3s linear;
}

.header__profile-link:hover {
  opacity: .6;
  cursor: pointer;
}

.header__profile-link_black {
  color: black;
}

.header__link {
  text-decoration: none;
  transition: opacity .2s linear;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.header__link:hover {
  opacity: .6;
  cursor: pointer;
}

.header__signed-out {
  position: relative;
  align-items: center;
  justify-content: flex-end;
  display: none;
  padding: 0 70px 0 70px;
  background-color: #202020;
}

.header__signed-out_active {
  display: flex
}

.header__login-button {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
  transition: opacity .3s linear;
}

.header__container_signed-out {
  justify-content: flex-end;
}

.header__link_signed-out {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;

}

@media all and (max-width: 900px) {
  .header__signed-out {
    padding: 0 30px 0 30px;
    background-color: #073042;
  }

  .header__authorization_active {
    padding: 0 30px 0 30px;
    background-color: #202020;
  }

  .header__link {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .header__link:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #ffff;
  }

  .header__login-button {
    width: 76px;
    height: 32px;
    background-color: #3DDC84;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: black;
    border-radius: 3px;
    margin-left: 30px;
    border: 0;
  }

  .header__link_signed-out {
    font-size: 12px;
    line-height: 16px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 22px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #ffff;
    position: absolute;
    width: 100%;
    height: 2px;
    margin-left: 0;
  }

  .header__burger:before {
    top: 0;
    margin-left: -15px;
  }

  .header__burger:after {
    bottom: 0;
    margin-left: -15px;
  }

  .header__burger span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    top: 9px;
    margin-left: -15px;
  }

  .header__burger_active:before {
    transform: rotate(45deg);
    top: 9px;
    margin-left: 3px;
  }

  .header__burger_active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    margin-left: 3px;
  }

  .header__burger_active span {
    transform: rotate(0);
    display: none;
  }
}

@media all and (max-width: 450px) {
  .header__signed-out {
    padding: 0 15px 0 15px;
    background-color: #073042;
  }

  .header__authorization_active {
    padding: 0 15px 0 15px;
    background-color: #202020;
  }

  .header__login-button {
    width: 54px;
    height: 26px;
    margin-left: 14px;
  }

  .header__link_signed-out {
    font-size: 10px;
    line-height: 16px;
  }

  .header__signed-out {
    margin-right: 0;
    margin-left: 0;
  }

  .header__burger:before,
  .header__burger:after,
  .header__burger span {
    margin-left: -15px;
  }
}
