.burger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__list {
  position: relative;
  margin-right: 364px;
  padding: 0;
  display: flex;
  list-style: none;
}

.burger-menu__profile-link {
  text-decoration: none;
  color: #ffff;
}

.burger-menu__link {
  display: flex;
  text-decoration: none;
  transition: opacity .3s linear;
  color: #ffff;
  margin-right: 16px;
  gap: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.burger-menu__link:hover {
  opacity: .6;
  cursor: pointer;
}

.burger-menu__link_invisible {
  display: none;
}

.burger-menu__logo-container {
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  background-color: #313131;
  border-radius: 100%;
  border: 1px solid #000000;
}

.burger-menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.burger-menu__profile-button {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  background-color: #202020;
  font-size: 13px;
  font-weight: 500;
  border: none;
  transition: opacity .3s linear;
}

.burger-menu__profile-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media all and (max-width: 900px) {

  .burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    padding-top: 159px;
    display: none;
    font-size: 18px;
    background-color: #202020;
    z-index: 1;
  }

  .burger-menu_active {
    display: block;
  }

  .burger-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .burger-menu__link {
    margin-right: 0;
  }

  .burger-menu__list li {
    list-style: none;
    margin: 0 0 28px 0;
  }


  .burger-menu__link:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #ffff;
  }

  .burger-menu__link_invisible {
    display: flex;
  }

  .burger-menu__profile-button {
    position: fixed;
    left: 55%;
    bottom: 0;
    margin-bottom: 90px;
  }
}

@media all and (max-width: 450px) {
  .burger-menu {
    position: fixed;
    width: 100%;
    padding-top: 144px;
  }

  .burger-menu__link {
    margin-right: 0;
  }

  .burger-menu__link_invisible {
    display: flex;
  }

  .burger-menu__profile-button {
    width: 100px;
    height: 32px;
    color: #202020;
    position: fixed;
    left: 35%;
  }
}
